.blog-post {
    margin-top: 40px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-items: center;
    padding-bottom: 22px;
    font-size: 1rem;
}

.blog-post img {
    height: 600px;
    width: 600px;
    margin-left: 200px;
}



  

   