.social-media-wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;


    .text-wrapper {
        font-size: 20px;
        align-items: center;
    }

    .social-icons {
        margin-top: 50px;
        align-items: center;
        transition: transform 250ms;

        &:hover {
            transform: translateY(-2px);
        }
          
        a.facebook {
            color: #4968ad;
        }
          
        a.twitter {
            color: #49a1eb;
        }
          
        a.instagram {
            color: black;
        }
    }



}